@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

* {
  margin: 0;
  padding: 0;
}

header{
  background-image: url("https://c1.staticflickr.com/4/3800/9460624418_6eccb3ab4e_b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;max-height: 600px;
  width: 100%;
  color: white;
  font-weight: bold;
  font-family: "Helvetica","Arial","Times";
}

nav {
  padding: 20px 10px;
}
nav ul {
  floPat: right;
}
nav li {
  display: inline;
  margin: 0 10px;
  padding:  0 5px;
  list-style-type: none;
}

.header-container {
  margin-bottom: 50px;
  padding: 5% 20%;
}
.container{
  text-align: justify;
  margin: 0 auto;
  padding: 0 15%;

}

h1, h2, h3 {
  font-weight: bold;

}

p{
  font-size: 2rem;
  padding-bottom: 10px;
}

.byline {
  font-size: 1/7rem;
  font-style: italic;
  font-weight: normal;
}

blockquote, figcaption{
  color:grey;
  font-style: italic;
}

figure img{
  max-width: 100%;
}

figcaption {
    font-size: .9em;
    padding-bottom: 20px;
}

footer {
  text-align: center;
}